---
layout: layout.liquid
title: 11ty Boilerplate
---

<header>
        <h1>Random Name Generator</h1>
    </header>
   
        <div x-data="{ fullName: '', names: ['James', 'Robert', 'John', 'Michael', 'David', 'William', 'Richard', 'Joseph', 'Thomas', 'Christopher', 'Mary', 'Patricia', 'Jennifer', 'Linda', 'Elizabeth', 'Barbara', 'Susan', 'Jessica', 'Sarah', 'Karen'], 
         lastNames: ['Smith', 'Johnson', 'Williams', 'Brown', 'Jones', 'Garcia', 'Miller', 'Davis', 'Rodriguez', 'Martinez', 'Hernandez', 'Lopez', 'Gonzalez', 'Wilson', 'Anderson', 'Thomas', 'Taylor', 'Moore', 'Jackson', 'Martin'] }">
        
           <h2 x-text="fullName"></h2>
           <div class="genButton"> 
           <button @click="fullName = names[Math.floor(Math.random() * names.length)] + ' ' + lastNames[Math.floor(Math.random() * lastNames.length)]">Click Here!</button>
        
        </div>
    </div>